{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Diabetes Test</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Predict</button>
                    <small class="text-muted ml-2"><a href="{% url 'password-reset' %}">Forgot Password?</a></small>
                </div>
            </form>
            {% if score_val %}
                <div class = "border-top pt-3">
                    <small class="text-muted"> {{score_val}}</small>
                </div>
            {% endif %}
        </div>
{% endblock content%}